// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font: 100% Helvetica, sans-serif;
  color: #333;
}

#button {
  background-color: #507DBC;
    border: 1px solid;
    padding: 10px;
    color: white;
    border: #DAE3E5 solid;
}

#input {
  padding: 10px;
}

.question {
  background-color: #F0F3F5
}

.answer {
  background-color: #E8C547;
}
